@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Details</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="txtName"></label>
            <div class="controls">
                <input id="txtName" name="txtName" type="text" placeholder="Name" class="input-xlarge" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="txtSurname"></label>
            <div class="controls">
                <input id="txtSurname" name="txtSurname" type="text" placeholder="Surname" class="input-xlarge" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="txtAge"></label>
            <div class="controls">
                <input id="txtAge" name="txtAge" type="text" placeholder="Age" class="input-xlarge" required="">

            </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
            <label class="control-label" for="selectSex">Sex</label>
            <div class="controls">
                <select id="selectSex" name="selectSex" class="input-xlarge">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>
        </div>

        <!-- Button -->
        <div class="control-group">
            <label class="control-label" for="btnSubmit"></label>
            <div class="controls">
                <button id="btnSubmit" name="btnSubmit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </fieldset>
</form>
